/* .envelope-bar {
  position: relative;
  display: inline-block;
} */

.envelope {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
  margin: 3px;
}

.envelope-bar {
  position: relative;
  flex: 100%;
  height: 100%;
  width: 100%;
  padding: 0px 5%;
}

.envelope-flex{
  display: flex;
  flex-direction: column;
  flex: 1
}

.bar-content {
  color: #000;
  display: none;
  position: relative;
  z-index: 1;
}

.envelope-bar:hover .bar-content {
  display: block;
}

.envelope-bar:hover .envelope-mainbar {
  display: none;
}

.envelope-bar .label-container{
  color: white;
  vertical-align: middle;
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.inside-bar {
  position: relative;
}

.inside-bar:hover{
  transition: transform 0.2s;
  z-index: 1;
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px black);
}

